---
const pageTitle = 'Home Page'
---
<html lang="en">
  <head>
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
  </body>
</html>